{% load static %}
{% include 'Headsfoots/header.html' %}


		
		<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Profile</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'profile' %}">Home</a></span> <span>Profile</span></p>
          </div>
        </div>
      </div>
    </div>
		
        
		<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
          
          <div class="row">
          <div class="col-md-6">
		  <img src="{{profile.image.url}}" height="150" width="150" class="m-3" style="border-radius: 50%;" alt="delete" />
          <div class='m-2'><h3>{{profile.full_name}}</h3></diV>
          </div>
		  
          <div class="col-md-6">
		  
          <table class="table">
    <thead>
      <tr>
        <th>Total Buy</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ transaction.Total__sum}} tk</td>
        
        
      </tr>
    
    </tbody>
  </table>
          
          </div>
          </div>
		<form action="{% url 'profile' %}" method="post"  enctype="multipart/form-data" class="billing-form bg-light p-3 p-md-5">
        {% csrf_token %}
			<h3 class="mb-4 billing-heading">Profile Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-12">
	                <div class="form-group">
						<label for="firstname">User Name</label>
						{% if user.is_authenticated %}
					  <input type="text" class="form-control" value="{{ user.get_username}}" disabled>
					  {% endif%}
	                </div>
	              </div>
                  <div class="col-md-12">
	                <div class="form-group">
	                	<label for="firstname">Full Name</label>
	                  <input name="fullname" type="text" class="form-control" value="{{ profile.full_name }}">
	                </div>
	              </div>
	              <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label name="file" for="profile_pic">Update Profile Picture</label>
		            		
		                  <input type="file" name="pimage" class="form-control">
		                
		            	</div>
		            </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label name="country" for="country">State / Country</label>
		            		
		                  <input type="text" name="Country" class="form-control" value="{{ profile.country }}">
		                
		            	</div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input name="address" type="text" class="form-control" value="{{ profile.address }}">
	                </div>
		            </div>
		            
		            </div>
		            
		            <div class="col-md-12">
		            	<div class="form-group">
	                	<label for="towncity">Town / City</label>
	                  <input name="city" type="text" class="form-control" value="{{ profile.city }}">
	                </div>
		            </div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label for="postcodezip">Postcode / ZIP *</label>
	                  <input name="zipcode" type="text" class="form-control" value="{{ profile.zipcode }}">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-12">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input name="phone" type="tel" class="form-control" value="{{profile.phone}}">
	                </div>
	              </div>
	              <div class="col-md-12">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input name="email" type="email" class="form-control" value="{{profile.email}}" >
	                </div>
                </div>
                <div class="w-100"></div>
                
                <input type="submit" class="btn btn-primary fadeIn fourth" value="Update ">
                	
                </div>
	            </div>
	          </form><!-- END -->



	          
	          
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

 

{% include 'Headsfoots/footer.html' %}

