{% load static %}
{% include 'Headsfoots/header.html' %}


<div class="modal fade show " id="mymodal" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="exampleModalCenterTitle" style="padding-right: 17px; display: none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
       <h3>For Bkash please Follow Bellow Instruction</h3> 
      </div>
      <div class="modal-body">
       		<ol>
			<li> Go to Bkash App </li> 
			<li> Go to Payment </li> 
			<li>  Enter Merchant Account Number : +88017000400 </li> 
			<li>  Enter Payment Amount </li> 
			<li>  Enter Invoice Code: XXXX-XXXX </li> 
			<li>  Enter Counter No. </li>
			 <li> Enter Your 6 digit pin </li>
			</ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="close1" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
<div class="modal fade show " id="bankmodal" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="exampleModalCenterTitle" style="padding-right: 17px; display: none;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h3>For Bank please Follow Bellow Instructions</h3> 
      </div>
      <div class="modal-body">
       		<ol>
			<li> Go to BANK </li> 
			<li> Go to Transfer </li> 
			<li>  Enter Merchant Account Number : X33055CX1831441</li> 
			<li>  Enter Payment Amount </li> 
			<li>  Enter Invoice Code: XXXX-XXXX </li> 
			<li>  Enter Counter No. </li>
			 <li>  Give your Signature </li>
			</ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="close2" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
		<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Checkout</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="../index.html">Home</a></span> <span>Checkout</span></p>
          </div>
        </div>
      </div>
    </div>
		
		<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 ftco-animate">
						<form action="#" class="billing-form bg-light p-3 p-md-5">
							{% csrf_token %}
							<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">Firt Name</label>
	                  <input type="text" name="first_name" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="lastname">Last Name</label>
	                  <input type="text" name="last_name" class="form-control" placeholder="">
	                </div>
                </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label for="country">State / Country</label>
		            		<div class="select-wrap">
		                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		                  <select name="Country" id="" class="form-control">
		                  	<option value="Bangladesh">Bangladesh</option>
		                    <option value="Italy">Italy</option>
		                    <option value="Philippines">Philippines</option>
		                    <option value="South_Korea">South Korea</option>
		                    <option value="Hongkong">Hongkong</option>
							<option value="France">France</option>
							<option value="UK">UK</option>
							<option value="USA">USA</option>
							<option value="INDIA">INDIA</option>
		                  </select>
		                </div>
		            	</div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input type="text" name="streetaddress"class="form-control" placeholder="House number and street name">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" name="appartment" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">Town / City</label>
	                  <input type="text" name="town" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">Postcode / ZIP *</label>
	                  <input type="text" name="postcode" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="text" name="phone" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" name="email" class="form-control" placeholder="">
	                </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                	<div class="form-group mt-4">
										<div class="radio">
										  <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
										  <label><input type="radio" name="optradio"> Ship to different address</label>
										</div>
									</div>
                </div>
	            </div>
	          </form><!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span class="total-cart">$20.60</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>$0.00</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Discount</span>
		    						<span id="discount">$3.00</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>$17.60</span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="payment" id="Bank" class="mr-2"> Direct Bank Tranfer</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="payment" id="Bkash" class="mr-2"> BKASH</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
											   <label><input type="checkbox" value="" class="mr-2" required> I have read and accept the terms and conditions</label>
											</div>
										</div>
									</div>
									<p><a type="submit" href="{% url 'status' %}"class="btn btn-primary py-3 px-4">Place an order</a></p>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Products</h1>
            <h2 class="mb-4">Related Products</h2>
          </div>
        </div>    		
    	</div>
    	<div class="container-fluid">
    		<div class="row">
						<div class="col-md-12">
    				<div class="product-slider owl-carousel ftco-animate">
                     {% for x in products %}
    					<div class="item">



		    				<div class="product">

                        <a href="{{ x.get_absolute_url }}" class="img-prod"><img class="img-fluid" src="{{ x.images.url }}" alt="Product Image">
    						{% if x.discount != 0 and  x.available == True and x.new_Arraivel == False %}
    						<span class="status" style="background-color: #de5270; color: white;">- {{ x.discount }}%</span>
    						{% elif x.available == True and x.new_Arraivel == True %}
                                <span class="status" style="background-color: #ff6b5b;color: #fff;">New Arrival</span>
                            {% else %}
                                <span class="status" style="background-color: #000; color: #fff;">Out of stock</span>
                            {% endif %}

    					</a>
    					<div class="text py-3 px-3">
    						<h3><a href="{{ x.get_absolute_url }}">{{ x.Product_name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">

                                        {% if x.discount != 0 %}
                                            <p class="price"><span class="mr-2 price-dc">${{ x.UnitPrice }}</span>
                                                <span class="price-sale" id="price" ></span>
                                                 <script>
                                                    var p = {{ x.discount }};
                                                    var j = {{ x.UnitPrice }};

                                                    var m = j-((j*p)/100);
													
                                                    document.getElementById('price').innerHTML ='$'+  m;
													
                                                </script>
                                            </p>
                                            {% else %}
                                            <p class="price"><span class="mr-2 price" id="price">${{ x.UnitPrice }}</span></p>
                                        {% endif %}


		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
                                    {% with ''|center:x.stars as range %}
	    								{% for i in range %}

	    								        <span class="ion-ios-star" style="color: orange;"></span>

                                        {% endfor %}
                                    {% endwith %}
	    							</p>
								</div>
				
								<div class="ml-2 mb-1">
									<a href="#" data-name= {{ x.Product_name }} data-price= {{ x.UnitPrice }}  class="add-to-cart btn btn-primary">Add to cart</a>
								</div>

								
	    					</div>

    					</div>

    				</div>

	    				</div>
                        {% endfor %}


    				</div>
    			</div>
			</div>
    	</div>
    </section>

		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
            	<h1 class="big">Subscribe</h1>
              <h2>Subcribe to our Newsletter</h2>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include 'Headsfoots/footer.html' %}

{% block Extrascript %}
  <script>


cart = [];

  // Constructor
  function Item(name, price, count) {
    this.name = name;
    this.price = price;
    this.count = count;
  }

  function loadCart() {
    cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
  }

  if (sessionStorage.getItem("shoppingCart") != null) {
    loadCart();
  }
	$(document).ready(function(){

		var quantitiy=cart[item].count;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
var modal = document.getElementById("mymodal")
var btn1 = document.getElementById("close1")
var btn2 = document.getElementById("close2")
var bankmodal = document.getElementById("bankmodal")
btn1.onclick = function() {
  modal.style.display = "none";

}
btn2.onclick = function() {

  bankmodal.style.display="none"
}

$('#Bank').click(function() {
	if($(this).prop("checked")) { 
		
		bankmodal.style.display = "block";
	
	}
});

$('#Bkash').click(function() {
	if($(this).prop("checked")) { 
		
		modal.style.display = "block";
	
	}
});
	</script>
{% endblock %}